.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
}

.weather-location {
  font-weight: bold;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.error {
  color: red;
}